@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        font-family: "Work Sans", sans-serif;
        font-size: 16px;
        color: #131313CC;
    }
    h1,h2,h3{
        font-family: "Playfair Display", serif;
        color: #131313;
        font-weight: 700;
    }
    h1{
        font-size: 56px;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 24px;
    }
    h4{
        font-size: 20px;
        font-weight: 600;
        color: #1313130D;
    }
}


.work-sans {
  font-family: "Work Sans", sans-serif;
}

.playfair-display {
  font-family: "Playfair Display", serif;
}

.text-dark1{
    color: #131313;
}

.text-dark2{
    color: #131313CC;
}

.bg-dark1{
    background-color: #1313130D;
}

.text-green1{
    color: #23BE0A;
}

.text-green2{
    color: #23BE0A0D;
}

.bg-green1{
    background-color: #23BE0A;
}

.bg-green2{
    background-color: #23BE0A0D;
}

.bg-blue1{
    background-color: #50B1C9;
}

.bg-blue2{
    background-color: #50B1C90D;
}

nav ul li a.active{
    border: 2px solid #23BE0A;
    color: #23BE0A;
    border-radius: 8px;
    font-weight: 600;
}

.btn{
    @apply text-lg font-semibold  px-7 py-4 rounded-lg
}

.btn-outline{
    @apply text-lg font-semibold text-dark1 px-7 py-4 rounded-lg
}

.btn-sm{
    @apply text-base font-medium text-green1 px-4 py-1 rounded-full
}

.btn-green {
    @apply bg-green1 text-white
}

.btn-blue {
    @apply bg-blue1 text-white
}

/* .tab a.active{
    @apply border-2 border-b-white bg-white border-gray-600 rounded-t-lg
} */

.custom-select::after {
  content: "\e0e5";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: red;

  height: 20px;
  width: 20px;
  pointer-events: none;
}